@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  cursor: default;
  /* background: var(--color-backg); */
}

body {
  background: var(--color-backg);
}

header {
  z-index: 1000;
  height: auto;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  padding: 0 5%;
  box-sizing: border-box;
  transition: 0.5s;
}

.logo {
  height: 60%;
}

.titulo {
  color: var(--color-text);
}


/*------floating Menu ---------*/
menu {
  width: max-content;
  display: block;
  padding: 0.5rem 1.5rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.02rem;
  display: flex;
  gap: 0.8rem;
  /*Solo se activa para container flex y grid, agrega espaciado solo entre los elementos y no en los laterales.*/
  border-radius: 3rem;
  /* backdrop-filter: blur(10px); */
}

.navbar-container {
  width: 400px;
  height: 70px;
  background: linear-gradient(to bottom, var(--color-backg), var(--color-enp));
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.505);
}

.navbar-container ul {
  display: flex;
  /* width: 350px; */
}

.navbar-container ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}

.navbar-container ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  color: var(--color-text);

}

.navbar-container ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;

}


.navbar-container ul li.active a .icon {
  transform: translateY(-32px);
}

.navbar-container ul li a .text {
  position: absolute;
  color: black;
  font-weight: 400;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);

}

.navbar-container ul li.active a .text {
  opacity: 1;
  transform: translateY(10px);
}

.indicator {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: linear-gradient(to bottom, var(--color-backg), var(--color-enp));
  ;
  border-radius: 50%;
  border: 6px double var(--color-backg);
  transition: 0.5s;
  box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.505);
}

.indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -45%;
  width: 20px;
  height: 20px;
  /* background: red; */
  /* border-top-right-radius: 20px;
  box-shadow: 4px -10px 0 0 var(--color-backg); */
}

.indicator::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -45%;
  width: 20px;
  height: 20px;
  /* background: red; */
  /* border-top-left-radius: 20px;
  box-shadow: -8px -10px 0 0 var(--color-backg); */
}

.navbar-container ul li:nth-child(1).active~.indicator {
  transform: translateX(calc(70px * 0));
}

.navbar-container ul li:nth-child(2).active~.indicator {
  transform: translateX(calc(70px * 1));
}

.navbar-container ul li:nth-child(3).active~.indicator {
  transform: translateX(calc(70px * 2));
}

.navbar-container ul li:nth-child(4).active~.indicator {
  transform: translateX(calc(70px * 3));
}

/* ----------------end menu--------------- */

:root {
  --color-backg: #b4dfd4;
  /*Light Steel Blue */
  --color-enp: #8DA47E;
  /*Dark Sea Green/
  --color-link:#E7CBA9;  /*‍Burly Wood */
  --color-visited: #E8D595;
  /*Light Khaki*/
  --color-menu: #E9BBB5;
  /*Indian Red*/
  --color-h1-h2-h3: White;
  --color-text: rgb(60, 60, 60);

}


/* Container */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  color: rgb(60, 60, 60);
  padding: 50px;
}

.flex-container p {
  font-size: 20px;
}

h2 {
  font-size: 25px;
}

/* columna izquierda, imagen */
.side {
  flex: 40%;

  padding: 20px;

}

/* columna principal */
.principal {
  flex: 40%;

  padding: 20px;
}

/*Formulario*/
.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  flex-wrap: wrap;
  color: rgb(60, 60, 60);
  padding: 30px;
}

.formulario__label {
  display: block;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

.formulario__grupo-input {
  position: relative;

}

.formulario__input {
  width: 100%;
  background: white;
  border: 3px solid transparent;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 10 px 0 10 px;
  transition: .3s ease all;
}

.formulario__input:focus {
  border: 3px #e9bbb5;
  outline: none;
  box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);

}

.formulario__input-error {
  font-size: 12px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-error-activo {
  display: block;

}

.formulario__validacion-estado {
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}

.formulario__checkbox {
  margin-right: 10px;

}

#grupo__carta,
#grupo__terminos,
#formulario__btn,
#formulario__mensaje {
  grid-column: 2 span;
}


.formulario__mensaje {
  height: 45px;
  line-height: 45px;
  background: #f66060;
  padding: 0 15px;
  border-radius: 3px;
  display: none;
}

.formulario__mensaje p {
  margin: 0;
}

.formulario__mensaje-activo {
  display: block;
}

.formulario__btn:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.formulario__mensaje-exito {
  font-size: 14px;
  color: #119200;
  display: none;
}

.formulario__mensaje-exito-activo {
  display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
  color: #1ed12d;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
  color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
  color: #bb2929;
  opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
  border: 3px solid #bb2929;
}

/*escribir la carta*/
.grupo__carta {
  flex: 100%;
  padding: 10px;
  text-align: center;
  background: #AAD9CD;
  display: flex;

}


/* Form */
input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #aad9cd;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=email],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #aad9cd;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #e9bbb5;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;

}

input[type=submit]:hover {
  background-color: #e9bbb5;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


textarea {
  width: 100%;
  height: 260px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #aad9cd;
  border-radius: 4px;
  box-sizing: border-box;
  resize: both;
}


/* -------------footer--------------- */

footer {
  padding: 8rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 20rem;
  background: var(--color-menu);
  display: block;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.container__redes {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
  left: 0;
  bottom: 25%;
  transition: all 50ms;
}

.container__redes a {
  text-decoration: none;
  width: 85px;
  height: 85px;
  padding: 25px 10px;
  margin-top: 20px;
  font-size: 25px;
  color: var(--color-enp);
}

.container__redes a:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  transition: all 200ms;
  background: linear-gradient(to bottom, var(--color-backg), var(--color-menu));
  box-shadow: -10px 10px 20px -10px rgba(0, 0, 0, 0.505);
  border-radius: 100%;
  color: rgb(60, 60, 60);
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {

  .flex-container,
  .navbar,
  .side,
  .principal {
    flex-direction: column;
  }

  .formulario {
    grid-template-columns: 1fr;
  }

  #grupo__carta,
  #grupo__terminos,
  #formulario__mensaje,
  #grupo__elige,
  #grupo__correo,
  #grupo__apellido,
  #grupo_nombre {
    grid-column: 1;
  }

  .formulario__btn {
    width: 100%;
    cursor: pointer;
    grid-column: 1;
  }

}


/*Menu flotante*/
menu {
  width: max-content;
  display: block;
  padding: 0.5rem 1.5rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0.02rem;
  display: flex;
  gap: 0.8rem;
  /*Solo se activa para container flex y grid, agrega espaciado solo entre los elementos y no en los laterales.*/
  border-radius: 3rem;
  /* backdrop-filter: blur(10px); */
}